# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# General
*.log
*.env

# Python (Backend)
__pycache__/
*.py[cod]
*.db
*.pyo
*.pyc
*.pyd
.Python
build/
dist/
*.egg-info/


# Docker
*.dockerignore
*.env
docker-compose.override.yml